
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;

    
}



header {
    height: 3rem;
    background-color: #c39c68;
    box-shadow: 0px 2px 5px #70512a;
    opacity: 0.87;
}

.nav-bar {
    display: flex;
    
    padding: 0.0rem 3rem;

}

.logo {
    display: flex;
    align-items: left;
    width: 45px;
    padding-bottom: 0.5rem;
   
}

.logo h1 {
    color: #fff;
    opacity: 0.75;
}

.nav-list {
    display: flex;
    align-items: center;
    opacity:1;
    font-family: "Montserrat", sans-serif;
    margin-top: -1rem;
    margin-left: 20rem;
 
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
  
}

.nav-item {
    margin: 0 15px;
    opacity: 1;
}

.nav-link {
    text-decoration: none;
    font-size: 0.95rem;
    color: #fff;
  
}



.mobile-menu-icon {
    display: none;
    margin-top: -0.5rem;
}

.mobile-menu {
    margin-top: -3rem;
    display: none;
    background-color: #c39c68;
}
@media screen and (max-width: 1008px){
    .nav-list {
       
        margin-left: 10rem;   
        }
}
@media screen and (max-width: 848px){
    .nav-list {
       
        margin-left: 5rem;   
        }
}




@media screen and (max-width: 770px){ 
    .nav-list {
       
        margin-left: 2rem;   
}
}
@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1rem 1rem;
    }
    .nav-item {
        font-family: "Montserrat", sans-serif;
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    .logo {
        display: flex;
        align-items: left;
        width: 45px;
        padding-bottom: 0.5rem;
        margin-top: -0.5rem;
    }
    .nav-list {
       
        margin-left: 32rem;   
}
   
@media screen and (max-width: 644px){
    .nav-list {
       
        margin-left: 28rem;   
        }
}

@media screen and (max-width: 595px){
    .nav-list {
       
        margin-left: 24rem;   
        }
}
@media screen and (max-width: 524px){
    .nav-list {
       
        margin-left: 22rem;   
        }
}
@media screen and (max-width: 488px){
    .nav-list {
       
        margin-left: 20rem;   
        }
}
@media screen and (max-width: 460px){
    .nav-list {
       
        margin-left: 18rem;   
        }
}
@media screen and (max-width: 429px){
    .nav-list {
       
        margin-left: 16rem;   
        }
}
@media screen and (max-width: 393px){
    .nav-list {
       
        margin-left: 14rem;   
        }
}
@media screen and (max-width: 356px){
    .nav-list {
       
        margin-left: 12rem;   
        }
}
@media screen and (max-width: 329px){
    .nav-list {
       
        margin-left: 10rem;   
        }
}
}